{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

    <div class="jumbotron">
        <h1 class="display-4">Bienvenue sur Orange Bleu My apps</h1>
        <p class="lead">Orange Bleu My apps vous permet de visualiser vos partenaires ainsi que votre fiche client. Vous aurez accès à certain modules selon vos permissions.</p>
        <hr class="my-4">
        <p>Pour commencer, connectez-vous pour utiliser l'application</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Connexion</a>
    </div>



{% endblock %}
