<h1>Bonjour {{ user.name }} !</h1>

<p>Nous vous informons que votre compte est ouvert</p>

<p>
    Avant de commencer veuillez confirmer votre adresse mail  <br><br>
    <a href="{{ signedUrl }}">Confirmer mon e-mail</a>.
</p>

<p>
    A très vite !
</p>
