
<div class="container-fluid mt-5 fixed-bottom">
    <div class="row">
        <footer class="bg-primary">
            <div class="text-center text-light">
                © 2022 Copyright:
                Orange My Apps
            </div>
        </footer>
    </div>
</div>
