<div class="bg-primary mt-5">
    <div class="container-fluid">
        <div class="row">
            <p class="text-warning fs-3 m-5">
                Pour toutes demandes d'inscription, ou d'aide contacter nous par
                <a class="text-success text-decoration-none" href="tel:+33750515253">téléphone</a>
                ou par mail
                <a class="text-success text-decoration-none" href="mailto:orangebleu@myadmin.com">
                    orangebleu@myadmin.com</a></p>
        </div>
    </div>
</div>