

<footer class="text-center text-white bg-primary mt-5">
    <!-- Grid container -->
    <div class="container p-4"></div>


    <div class="row">
        <p class="text-warning fs-5 m-5">
            Pour toutes demandes d'inscription, ou d'aide contacter nous par
            <a class="text-success text-decoration-none" href="tel:+33750515253">téléphone</a>
            ou par mail
            <a class="text-success text-decoration-none" href="mailto:orangebleu@myadmin.com">
                orangebleu@myadmin.com</a></p>
    </div>


    <div class="text-center p-3 ">
        © 2022 Copyright:
        Orange My Apps
    </div>
    <!-- Copyright -->
</footer>