{% extends 'base.html.twig' %}

{% block title %}E-mail de réinitialisation{% endblock %}

{% block body %}

    <h1 class="m-5">Confirmation</h1>

    <div class="container mt-5 mb-5">
        <div class="row justify-content-center fs-4">
            <div class="col-9">
                <p class="m-5">
                    Si un compte correspondant à votre adresse e-mail existe, un e-mail vient d'être envoyer contenant un lien que vous pouvez utiliser pour réinitialiser votre mot de passe.
                </p>
                <p class="m-5">Si vous ne recevez pas d'e-mail, veuillez vérifier votre dossier spam ou <a href="{{ path('app_forgot_password_request') }}">réessayer</a>.</p>
            </div>
        </div>
    </div>
{% endblock %}
