<!DOCTYPE html>
<html>

<body>
    <h1>Contact de {{ contact.name }}</h1>

    <p>Email: {{ contact.email }}</p>
    <P>Sujet: {{ contact.subject }}</P>
    <div>
        <p>Message: <br> {{ contact.message }}</p>

    </div>

</body>

</html>
