<!DOCTYPE html>
<html>

<body>
<h1>Bonjour {{ leader.civility }} {{ leader.name }} {{ leader.firstname }}</h1>

<p>Nous avons le plaisir de vous confirmer que votre salle a été ajoutée dans votre compte</p>
<P>Connectez-vous pour profiter dés à présent de vos modules</P>

<p>A Bientôt!</p>

</body>

</html>